


div.transbox {
    margin: 30px;
      width:350px;
      height:500px;
    background-color: whitesmoke;
    border: 1px solid black;
      border-radius: 35px;
    
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }
  