<!DOCTYPE html>
<html>
    <head>
        {%load static%}
        <link href="{%static 'css/customerhead.css'%}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    <body>
        <h1>Kiddies Kingdom</h1>
        <p>The Entire Babies Boutique</p>
        <div class="navbar">
            <a href="/login/" class="bi bi-power">Logout</a>
            <a href="/viewproduct2">Generate Complaint</a>
            <a href="/viewproduct1/">Give Review</a>
            <a href="/orderstatus/">View OrderStatus</a>
            <a href="/placeorder/">Place Order</a>
            <a href="/addtocart/">Add to Cart</a>
            <a href="/viewreview/">View Review</a>
            <a href="/home/"  class="bi bi-house-fill">Home</a>
        </div>
    </body>
</html>