<!DOCTYPE html>
<html>
    <head>
        {%load static%}
        <link href="{%static 'css/homeheader.css'%}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    <body>
        
        <h1>Kiddies Kingdom</h1>
        <p>The Entire Babies Boutique</p>
        <div class="navbar">
            <a href="/login/" class="bi bi-power">Logout</a>
            <a href="/viewreview-public/">View Reviews</a>
            <a href="/category/">View Products</a>
            <a href="/customerregistration/">Register as Customer</a>
            <a href="/login">Sign in</a>
            <a href="/home/"  class="bi bi-house-fill">Home</a>
        </div>
    </body>
</html>